* {
	padding: 0;
	margin: 0;
}
body { 
	font-size: 62.5%;
}

footer {
	margin: 0 auto;
	max-width: 500px;
	font-size: 1.5em;
	color: rgb(100, 100, 100);
	font-family: 'Lato';
	margin-bottom: 1em;
}

footer #social-icons li {
	display: inline;
}
footer #social-icons {
	float: right;
}
footer #social-icons li a {
	text-decoration: none;
	color: rgb(220, 91, 73);
	padding-right: .5em;
}
footer #social-icons li a:hover {
	color: rgb(65, 155, 217);
}
footer #social-icons li a .genericon {
	font-size: 1.5em;
}