/* colors from https://kuler.adobe.com/Moxy-color-theme-4046199/ */
* {
	padding: 0;
	margin: 0;
}
body { 
	font-size: 62.5%;
}

header {
	max-width: 800px;
	margin: 0 auto;	
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
header h1 {
	font-size: 3.5em;
	font-family: 'Lato';
	text-transform: uppercase;
	letter-spacing: -.05em;
	word-spacing: -.1em;
	display: inline;
}
header h1 a {
	text-decoration: none;
}
header h1 .first {
	font-weight: 700;
	color: rgb(46, 63, 79);
}
header h1 .last {
	font-weight: 300;
	color: rgb(65, 155, 217);
}
header nav {
	display: inline;
}
header nav ul {
	float: right;
	margin-top: 1em;
}
header nav li {
	display: inline;
	top: 1.75em;
}
header nav li a {
	font-size: 1.75em;
	padding-right: 1em;
	font-family: 'Lato';
	color: rgb(100, 100, 100);
	text-decoration: none;
}
header nav li a:hover, header nav li a.current {
	color: rgb(220, 91, 73);
}

#header-image {
	width: 100%;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../header_img/catalina_approach.jpg');
	background-color: ##1a1a1a;
}

#post-list {
	max-width: 650px;
	margin: 0 auto;
	font-size: 2em;
	line-height: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#post-list li {
	list-style: none;
}
#post-list a {
	font-family: 'Oswald';
	text-decoration: none;
	color: rgb(46, 63, 79);
}
#post-list a:hover {
	color: rgb(220, 91, 73);
}
#post-list span.post-date {
	float: right;
	font-family: 'Lato';
	color: rgb(100, 100, 100);
}
#post-list span.category {
	width: 90px;
	display: inline-block;
	font-family: 'Lato';
	text-transform: uppercase;
	font-weight: 300;
	font-size: 18px;
}

footer {
	margin: 0 auto;
	max-width: 500px;
	font-size: 1.5em;
	color: rgb(100, 100, 100);
	font-family: 'Lato';
	margin-bottom: 1em;
}

footer #social-icons li {
	display: inline;
}
footer #social-icons {
	float: right;
}
footer #social-icons li a {
	text-decoration: none;
	color: rgb(220, 91, 73);
	padding-right: .5em;
}
footer #social-icons li a:hover {
	color: rgb(65, 155, 217);
}
footer #social-icons li a .genericon {
	font-size: 1.5em;
}

@media( max-width: 600px ) {
	header h1 {
		width: 100%;
		float: left;
		text-align: center;
	}

	header nav ul {
		float: none;
		text-align: center;
	}

	#header-image {
		display: none;
	}

	#post-list {
		clear: both;
	}

	#post-list span {
		display: none;
	}

	#post-list span.category {
		display: none;
	}
	
	#post-list li {
		text-align: center;
	}
}