.project {
	margin: 100px 0;
}
.project h2 {
	font-family: 'Lato';
	text-align: center;
	font-size: 2em;
	color: rgb(255, 44, 53);
}
.project h3 {
	font-family: 'Lato';
	text-align: center;
	font-size: 1em;
	color: rgb(33, 63, 81);
}
.project .status {
	font-family: 'Lato';
	font-weight: 300;
	text-align: center;
	width: 300px;
	margin: 0 auto;
	display: block;
	font-size: .8em;
	clear: both;
	color: rgb(100, 100, 100);
	margin-top: -10px;
}

.project p {
	margin: 0 auto !important;
	text-align: center;
}