<footer>
  Copyright &copy; 2014 Phil Crumm.
  <ul id="social-icons">
    <li><a href="http://twitter.com/pcrumm"><span class="genericon genericon-twitter"></span></a></li>
    <li><a href="https://www.linkedin.com/in/pcrumm"><span class="genericon genericon-linkedin"></span></a></li>
    <li><a href="http://instagram.com/pcrumm"><span class="genericon genericon-instagram"></span></a></li>
    <li><a href="http://github.com/pcrumm"><span class="genericon genericon-github"></span></a></li>
  </ul>
</footer>