<header>
  <h1><a href="/"><span class="first">Phil</span> <span class="last">Crumm</span></a></h1>
  <nav>
    <ul>
      <li><a href="/about" {% if page.hilight == 'about' %}class="current"{% endif %}>About</a></li>
      <li><a href="/" {% if page.hilight == 'posts' %}class="current"{% endif %}>Posts</a></li>
      <li><a href="/hire" {% if page.hilight == 'hire' %}class="current"{% endif %}>Hire</a></li>
      <li><a href="/projects" {% if page.hilight == 'projects' %}class="current"{% endif %}>Projects</a></li>
      <li><a href="/contact" {% if page.hilight == 'contact' %}class="current"{% endif %}>Contact</a></li>
    </ul>
  </nav>
</header>